{% extends 'BlogBundle::layout.html.twig' %}
{% block title %}
{% endblock  %}


{% block blog_body %}
    
    <p>
        {% include 'BlogBundle:Blog:formulaire.html.twig' %}
    </p>
    
    
{% endblock %}