{% extends "BlogBundle::layout.html.twig" %}

  {% block title %}
      Accueil - {{ parent() }}
  {% endblock%}

{% block blog_body %}
     
    <ul>
     {% for article in articles %}
          {# On inclut la vue à chaque itération dans la bioucle #}
          {% include "BlogBundle:Blog:article.html.twig" with  {'accueil': true }%}
          <hr />
     {% else %}
          <p> Pas (encore !) d'article </p>
     {% endfor %}
    </ul>
    
    <div class="pagination">
     <ul>
          {# On utilise la fonction rang(a, b ) qui cree un tableau de valeur entre a et b #}
          {% for p in range(1, nombrePage ) %}
              <li {% if p == page %} class="active" {% endif %}>
               <a href="{{ path('blog_accueil', {'page': p})  }}">{{ p }}</a>
              </li> 
           {% endfor %}
     </ul>
     
    </div>
    
    
{% endblock %}